/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
!.docker/app/.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
.docker/dbdata
!.docker/app/.env
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
